@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  background-color: #eee;
  color: #222;
}

* {
  margin: 0;
  padding: 0; 
}

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1.5rem;
  background-color: #eee;
  color: #222;
}

header h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

header .options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.options button {
  background-color: #222;
  color: #eee;
  border: 2px solid #eee;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  transition: all 0.3s;
  cursor: pointer;
}

.options button:hover {
  background-color: #eee;
  color: #222;
  border: 2px solid #222;
}

.options input {
  width: 5rem;
  cursor: pointer;
}

.container {
  margin: 1rem auto;
}

hr {
  border: 5px solid #222;
}